body {
  width: 500px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: impact;
}

header h1 {
  color: rgb(21, 255, 0);
  padding-top: 30px;
}

#search-input {
  width: 100%;
  padding: 8px;
  font-size: 1.3em;
}
